/* 
### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) 
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
}

.main-container {
    background-color: hsl(244, 38%, 16%);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 960px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
}

.main-text {
    width: 50%;
    padding: 50px;
    text-align: left;
    margin: auto;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding-bottom: 25px;;
}

h1 span {
    color: hsl(277, 64%, 61%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding-bottom: 50px;
}

ul {
    display: flex;
    position: relative;
    left: -20px;
    text-align: center;
}

il {
    padding: 20px 20px 0px 20px;
    color: hsla(0, 0%, 100%, 0.6) ;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.7;
    font-family: "Lexend Deca", sans-serif;
}

il span {
    color: hsl(0, 0%, 100%);
    text-transform: lowercase;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.m {
    text-transform: uppercase;
}

.main-img {
    background-image: hsl(277, 64%, 61%);
    width: 50%;
    height: 396.4px;
    box-sizing: border-box;
    resize: none;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    resize: none;
}

.img-top {
    width: 50%;
    height: 100%;
    background: hsla(277, 64%, 61%, 0.562);
    border-radius: 0px 10px 10px 0px;
    resize: none;
    position: fixed;
}

.attribution {
    margin: 95vh 0 0 0;
}

@media only screen and (max-width: 375px) {
    .main-container {
        background-size: cover;
        width: 330px;
        height: 730px;
        display: flex;
        flex-direction: column-reverse;
    }

    .main-text {
        height: 50%;
        width: 100%;
        text-align: center;
        margin: 50px 50px 50px 0px;
        position: absolute;
        top: 180px;
    }

    h1 {
        font-size: 23px;
    }

    p {
        line-height: 1.7;
        padding-bottom: 10px;
        font-size: 13px;
    }

    ul {
        display: flex;
        position: relative;
        flex-direction: column;
        left: 0px;
        text-align: center;
    }

    il {
        text-align: center;
    }

    .main-img {
        background-image: hsl(277, 64%, 61%);
        width: 100%;
        height: 450px;
        box-sizing: border-box;
        resize: none;
        padding-top: 100px;
        position: absolute;
        top: -99px;
    }

    img {
        width: 100%;
        height: 30%;
        border-radius: 10px 10px 0px 0px;
        resize: none;
    }

    .img-top {
        width: 100%;
        height: 33.1%;
        background: hsla(277, 64%, 61%, 0.562);
        border-radius: 10px 10px 0px 0px;
        resize: none;
        position: fixed;
    }

    .attribution {
        margin: 95vh 0 0 0;
    }
}
